%h1= t(:welcome)
%h3= t('usage.short_intro')
- if session[:access_token].nil? && ENV['DEBUG'].nil?
  %button.btn.btn-primary{type: 'button', onclick: "window.location.href = '#{@oauth_url}';"}
    = t('usage.login')
- else
  %p
  .dropdown
    = t(:input_lexeme)
    %form{action: usage_lookup_lexeme_path, method: :get}
      %input{name: 'q'}
      %input{ type: :submit, value: t(:submit_lexeme)}
    %p
    = t(:or_randomize)
    %button.btn.btn-secondary.dropdown-toggle{type: 'button', 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false'}
      = t('usage.language')
    %ul.dropdown-menu
      - Rails.configuration.sorted_langs.each do |iso, data|
        %li
          = link_to "#{data[:language_name_en]} (#{data[:language_autonym]})", action: :lexeme, lang: iso