/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.searchmatch{ color: blue; font-weight: bold; background-color: white; font-size: 130%;}

.example {
  background-color: #FFD800;
  border: 3px solid #999;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.actions {
  margin: auto;
  background-color: #0056B9;
  color: white;
  border: 3px solid #999;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 80%;
  padding: 10px;
}
.eighty {
  width: 80%;
}
.btn-primary {
  background-color: #FFD800 !important;
  color: #0056B9 !important;
}
.my_alert {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.alert-error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.alert-notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.logo { float: right;}