!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Luthor
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css", rel: "stylesheet", crossorigin: "anonymous"}

  %body
    .container-fluid
      .flash
        - flash.each do |key, value|
          .my_alert{class: "alert-#{key}"}= value.html_safe
      .logo
        %a{href: '/'}
          = image_tag asset_path('luthor_logo.png'), alt: 'Luthor logo'
        %br
        .lang_switcher
          %select#lang_switcher
            - I18n.available_locales.map(&:to_s).sort_by{|l| t("lang.#{l}")}.each do |lang|
              - next if lang == 'qqq' # skip the magic language code for message documentation
              %option{value: lang, selected: lang == I18n.locale.to_s}= t("lang.#{lang}")
        %br
        - checked = session[:ignore_case].nil? ? true : session[:ignore_case]
        = check_box_tag 'ignore_case', '1', checked, id: 'ignore_case'
        = t('ignore_case')
        %p
        %p= t('author_credit_html')
        %p
          %a{href: 'https://gitlab.wikimedia.org/toolforge-repos/luthor'}= t(:source_code_link)
        %p
          %a{href: 'https://phabricator.wikimedia.org/tag/luthor/'}= t(:phabricator_workboard)
        %p
          %a{href: 'https://commons.wikimedia.org/wiki/File:Luthor_demo_Lexicodays_2024.webm'}= t(:demo_video)

      = yield
      %script{src: "https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.js", crossorigin: "anonymous"}
:javascript
  $(document).ready(function() {
    $('#lang_switcher').change(function(){
      url = window.location.href.replace(/&*locale=[a-z-]+/g, '');
      loc = 'locale='+$(this).val();
      if(url.indexOf('?') > -1)
        delimiter = '&';
      else
        delimiter = '?';
      window.location.href = url + delimiter + loc;
    });
    $('#ignore_case').change(function(){
      $.ajax({
        url: '/set_ignore_case',
        type: 'POST',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: { ignore_case: $(this).is(':checked') ? '1' : '0'}
      });
    });
  });
